@keyframes slidedown {
  0% {
    opacity: 0;
    top: -30px; }
  50% {
    opacity: 1;
    top: 30px; }
  100% {
    opacity: 0;
    top: -30px; } }
@media screen and (max-width: 414px) {
  header {
    height: 90px !important; }
    header a img {
      margin-left: -1rem;
      height: 90px;
      object-fit: cover; }
    header nav #initial-nav {
      display: none; }
    header nav #responsive-nav li {
      background: transparent !important;
      line-height: 90px;
      box-shadow: none;
      border-radius: none;
      margin: 0; }
      header nav #responsive-nav li a {
        line-height: 70px !important;
        background-color: transparent !important; }
      header nav #responsive-nav li i {
        font-size: 30px; }

  main .presentation {
    margin: 2rem auto;
    width: 90% !important; }
    main .presentation h1, main .presentation p {
      text-justify: distribute;
      margin: 0.5rem auto !important; }
  main section {
    width: 100% !important;
    padding: 0 !important; }
    main section .product-content p {
      margin: 0.5rem auto !important;
      color: white;
      width: 80% !important; }
    main section #checkoutlist .checkout :nth-child(2) {
      overflow: hidden;
      font-size: 12px; }
    main section #checkoutlist .checkout :nth-child(3) {
      background-color: #00000057;
      width: 20%;
      margin: 0 auto;
      margin-right: 0;
      line-height: 110px; }
  main #productID {
    width: 70% !important; }

  #succes {
    width: 90% !important; } }
@media screen and (max-width: 768px) {
  header {
    height: 90px !important; }
    header #initial-nav {
      display: none; }
    header a img {
      margin-left: -1rem;
      height: 90px;
      object-fit: cover; }
    header nav #responsive-nav li {
      background: transparent !important;
      line-height: 90px;
      box-shadow: none;
      border-radius: none;
      margin: 0;
      margin-right: -4rem;
      margin-left: 10%;
      width: 100% !important; }
      header nav #responsive-nav li a {
        line-height: 70px !important;
        background-color: transparent !important; }
      header nav #responsive-nav li i {
        font-size: 25px; }

  main {
    padding: 0 !important;
    padding-top: 1rem !important; }
    main .presentation {
      margin: 2rem auto;
      width: 90% !important; }
      main .presentation h1, main .presentation p {
        text-justify: distribute;
        margin: 0.5rem auto !important; }
    main section {
      width: 90% !important;
      margin: 0 auto; }
      main section #checkoutlist .checkout :nth-child(2) {
        overflow: hidden;
        font-size: 12px; }
      main section #checkoutlist .checkout :nth-child(3) {
        background-color: #00000057;
        width: 20%;
        margin: 0 auto;
        margin-right: 0;
        line-height: 110px; } }
@media screen and (min-width: 768px) {
  #initial-nav {
    display: flex; }

  #responsive-nav {
    display: none; }

  #presentation {
    margin: 2rem auto;
    width: 90% !important; }
    #presentation h1, #presentation p {
      text-justify: distribute;
      margin: 0.5rem auto !important; }

  section {
    max-width: 60% !important;
    margin: 0 auto; }
    section #checkoutlist .checkout :nth-child(2) {
      overflow: hidden;
      font-size: 18px; }
    section #checkoutlist .checkout :nth-child(3) {
      background-color: #00000057;
      width: 20%;
      margin: 0 auto;
      margin-right: 0;
      line-height: 110px;
      font-size: 18px; } }
body {
  margin: 0;
  padding: 0;
  margin: 0px auto;
  font-family: Raleway, helvetica, arial, sans-serif;
  background-color: #424242;
  background-image: linear-gradient(to top, black, rgba(177, 134, 247, 0.3)), url("../img/illustration.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center center; }

header {
  height: 120px;
  width: 100%;
  z-index: 1000;
  background-color: rgba(56, 56, 56, 0.295);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.418); }
  header nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto; }
    header nav ul {
      line-height: 60px;
      padding: 0;
      box-sizing: border-box;
      display: flex; }
      header nav ul li {
        list-style: none;
        display: flex;
        justify-content: center;
        font-weight: bold;
        background: #e29746;
        background: linear-gradient(90deg, #e29746 0%, #b186f7 100%);
        box-shadow: 0px 0px 10px rgba(49, 49, 49, 0.404);
        width: 120px;
        margin: 0.5rem;
        border-radius: 4rem;
        position: relative;
        cursor: pointer;
        transition: all 0.2s ease-in-out; }
        header nav ul li a {
          text-decoration: none;
          color: white; }
        header nav ul li:hover {
          transform: scale(1.02);
          box-shadow: 0px 0px 20px rgba(244, 164, 255, 0.274); }
        header nav ul li:active {
          transform: scaleZ(0.95);
          box-shadow: 0px 0px 20px rgba(255, 136, 0, 0.219); }

#succes-container {
  width: 100%;
  height: 70%;
  position: absolute; }

#succes {
  position: relative;
  justify-content: center;
  margin: 0 auto;
  display: none;
  align-items: center;
  font-size: 22px;
  color: #313131;
  top: -30px;
  border-radius: 1rem;
  height: 10%;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.534);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.301);
  animation: slidedown 3s forwards; }
  #succes i {
    margin-left: 10px; }

img {
  height: 100px;
  background-size: cover; }

main {
  max-width: 1440px;
  margin: 0 auto;
  position: relative; }
  main #productID {
    margin: 2rem auto;
    width: 50%;
    height: 40%; }
    main #productID .productID-item {
      object-fit: cover;
      width: 100%;
      height: 40%;
      box-shadow: 0px 0px 20px rgba(41, 41, 41, 0.384);
      border-radius: 0.5rem; }
  main .info {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: white; }
  main .add {
    list-style: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
    background: #e29746;
    background: linear-gradient(90deg, #e29746 0%, #b186f7 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.171);
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin: 3rem auto;
    border-radius: 4rem;
    color: white;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;
    outline: none; }
    main .add:hover {
      transform: scale(1.02);
      box-shadow: 0px 0px 20px rgba(244, 164, 255, 0.274); }
    main .add:active {
      transform: scaleZ(0.95);
      box-shadow: 0px 0px 20px rgba(255, 136, 0, 0.219); }

.product-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center; }
  .product-content h1, .product-content p {
    margin: 0;
    color: white; }
  .product-content .lense {
    color: white;
    margin-top: 1rem; }
  .product-content select {
    width: 150px;
    height: 30px;
    margin: 0.5rem auto;
    border: none;
    background-color: white;
    border-radius: 0.2rem; }

footer {
  height: 140px;
  width: 100%;
  background-color: #272727; }
  footer ul {
    display: flex;
    justify-content: space-around;
    line-height: 140px;
    padding: 0; }
    footer ul li {
      list-style: none;
      text-decoration: none;
      color: white; }

/*# sourceMappingURL=article.css.map */
