@keyframes slidedown {
  0% {
    opacity: 0;
    top: -30px; }
  50% {
    opacity: 1;
    top: 30px; }
  100% {
    opacity: 0;
    top: -30px; } }
body {
  margin: 0;
  padding: 0;
  margin: 0px auto;
  font-family: helvetica, arial, sans-serif;
  background-color: #424242;
  background-image: linear-gradient(to top, black, rgba(177, 134, 247, 0.3)), url("../img/illustration.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

header {
  height: 120px;
  width: 100%;
  z-index: 1000;
  background-color: rgba(56, 56, 56, 0.295);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.418); }
  header nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto; }
    header nav ul {
      line-height: 60px;
      padding: 0;
      box-sizing: border-box;
      display: flex; }
      header nav ul li {
        list-style: none;
        display: flex;
        justify-content: center;
        font-weight: bold;
        background: #e29746;
        background: linear-gradient(90deg, #e29746 0%, #b186f7 100%);
        box-shadow: 0px 0px 10px rgba(49, 49, 49, 0.404);
        width: 120px;
        margin: 0.5rem;
        border-radius: 4rem;
        position: relative;
        cursor: pointer;
        transition: all 0.2s ease-in-out; }
        header nav ul li a {
          text-decoration: none;
          color: white; }
        header nav ul li:hover {
          transform: scale(1.02);
          box-shadow: 0px 0px 20px rgba(244, 164, 255, 0.274); }
        header nav ul li:active {
          transform: scaleZ(0.95);
          box-shadow: 0px 0px 20px rgba(255, 136, 0, 0.219); }

#check {
  height: 30px;
  width: 30px;
  background-color: #f85d5d;
  position: absolute;
  border-radius: 2rem;
  top: -5px;
  left: -10px;
  justify-content: center;
  display: flex;
  line-height: 30px;
  display: none; }

img {
  height: 100px;
  background-size: cover; }

main {
  background-color: rgba(255, 255, 255, 0.13);
  padding: 1rem; }
  main h1, main h3, main p {
    margin: 1rem;
    display: flex;
    text-align: center;
    justify-content: center; }
  main section {
    background-color: #ffffff15;
    margin: 2rem auto;
    width: 40%;
    padding: 2rem; }
    main section #totalprice {
      display: flex;
      justify-content: flex-end; }
    main section #remove {
      border-radius: 1rem;
      font-weight: 600;
      border: none;
      align-items: center;
      height: 30px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.521);
      margin: 1rem auto;
      transition: all 0.3s ease-in-out; }
      main section #remove:hover {
        border-radius: 1rem;
        font-weight: 600;
        border: none;
        align-items: center;
        height: 30px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.158);
        margin: 1rem auto; }

#placeorder {
  text-decoration: 5px rgba(128, 128, 128, 0.329) solid underline;
  font-size: 22px; }

.form {
  display: flex;
  margin: 0 auto; }
  .form .formsection {
    margin: 0 auto;
    width: 50%;
    padding: 1rem; }
  .form .formitems1 {
    display: flex;
    align-items: center;
    width: 102.5%; }
    .form .formitems1 label {
      display: flex;
      flex-direction: column;
      width: 100%; }
    .form .formitems1 input {
      padding: 1rem;
      width: 95%;
      margin: 0.5rem auto;
      border: none;
      background-color: gray; }
    .form .formitems1 ::placeholder {
      color: white; }
  .form .formitems2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; }
    .form .formitems2 label {
      display: flex;
      flex-direction: column;
      width: 100%; }
    .form .formitems2 input {
      padding: 1rem;
      width: 100%;
      margin: 0.5rem auto;
      border: none;
      background-color: gray; }
    .form .formitems2:focus {
      color: white; }
  .form button {
    list-style: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
    background: #e29746;
    background: linear-gradient(90deg, #e29746 0%, #b186f7 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.171);
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin: 3rem auto;
    border-radius: 4rem;
    color: white;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;
    outline: none; }
    .form button:hover {
      transform: scale(1.02);
      box-shadow: 0px 0px 20px rgba(244, 164, 255, 0.274); }
    .form button:active {
      transform: scaleZ(0.95);
      box-shadow: 0px 0px 20px rgba(255, 136, 0, 0.219); }

#checkoutlist {
  height: 100%;
  margin: 1rem auto;
  width: 100%; }
  #checkoutlist .checkout {
    display: flex;
    height: 110px;
    width: 180px;
    justify-content: space-between;
    flex-direction: row;
    margin: 0.5rem auto;
    background-color: #0000004b;
    width: 100%; }
    #checkoutlist .checkout :nth-child(2) {
      margin: auto;
      line-height: 110px; }
    #checkoutlist .checkout :nth-child(3) {
      margin: auto;
      line-height: 110px;
      width: 30%; }
    #checkoutlist .checkout :nth-child(4) {
      margin: auto;
      line-height: 110px; }
    #checkoutlist .checkout img {
      height: 110px;
      object-fit: cover; }
    #checkoutlist .checkout i {
      display: block;
      font-size: x-large;
      cursor: pointer;
      line-height: 110px;
      color: #3f3f3f;
      padding: 0rem 2rem;
      transition: all 0.3s ease; }
      #checkoutlist .checkout i:hover {
        color: #ff5a4e;
        background-color: rgba(255, 255, 255, 0.13); }

main {
  color: white; }

footer {
  width: 100%;
  height: 140px;
  background-color: #272727; }
  footer ul li {
    list-style: none;
    text-decoration: none;
    color: white; }

/*# sourceMappingURL=checkout.css.map */
